.title-myrt {
    margin-bottom: 20px; /* Espacio bajo el título */
    margin-left: 290px;
}

.container-myrt{
    width: 585px;
    margin-left: -250px;
    margin-top: 50px;
    padding: 0 362px;
}

.card-myrt{
    background-color: #e70cca5b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 130px;
    margin-bottom: 20px;
    width: 100%;
}

.table-myrt {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px; /* Espacio entre la tabla y otros elementos */
    margin-left: -113px; /* Espacio izquierdo para la tabla */
}

.table-myrt th,
.table-myrt td {
    border: 2px solid chocolate;
    padding: 10px 40px; /* Aumentado el espacio interior de las celdas */
    text-align: center;
}

.image-preview-listR img {
    width: 220px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-edit-rating {
    display: inline-block;
    padding: 10px 28px;
    background-color: rgba(190, 5, 181, 0.473);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: -19px;
}

.btn-edit-rating:hover{
    background-color: #701d54;
    color: #ffff;
}

.btn-delete-rating {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(190, 5, 5, 0.664);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-delete-rating:hover{
    background-color: #a50125;
    color: #ffff;
}
