.container-access{
    width: 484px;
    margin-left: 50px;
    padding: 0 362px;

}

h2{
    text-align: center;
}

.card-access {
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px 40px;
    margin-bottom: 20px;
    width: 100%;
}

.form-group-access{
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 0px;
}

.form-control-access{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-control-access{
    outline: none;
    border-color: #e5daf8;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.btn-access{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(33, 33, 248);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-access:hover{
    background-color: #1800a0;
    color: #ffff;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

