.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: chocolate;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: aqua;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.content {
    flex: 1;
    background-color: pink;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Ajusta el padding según sea necesario */
}

/* Estilos para la imagen del logo */
.logo {
    max-width: 60%; /* Ajusta el tamaño máximo del logo */
    height: auto; /* Para mantener la proporción */
    border-radius: 50px;
}